@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: white;
    background-color: #161e27;
}

h1 {
    @apply text-2xl;
}
h2 {
    @apply text-xl;
}

button, input[type="submit"] {
    background-color: rgb(30, 41, 54);
    color: white;
    text-align: center;
    padding: 1em;
    border-radius: 8px;
}

input {
    width: 100%;
    border-radius: 8px;
    background-color: rgb(30, 41, 54);
    border-color: rgba(0, 0, 0, 0);
    padding: 0.5em;
}
